body{
    background-color: lightgray;
    background-image: url(../image/about_us1.jpg);
	margin: 0px;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 25px;
}
#logo_image{
	float: left;
}
li {
    float: right;
    padding-left: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.about_box{
    padding: 25px;
}
#about_header a{
    color: black;
}
#about_header{
    margin-bottom: 5px;
}
#about_paragraph{
    width: 50%;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    word-spacing: 5px;
}
.about_key{
    color: red;
    margin-bottom: 5px;
    text-decoration: underline;
}
.about_value{
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
}
#med_text{
    font-weight: bold;
}