body{
	background-color: gray;
	margin: 0px;
}
.category {
	border: 3px solid white;
	background-color: #aaa;
	margin: auto;
	padding:10px;
	text-align: center;
    width: 50%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
	}
.category h3{
	font-size: 50px;
    font-weight: bold;
    color: black;
}
.category a{
    color: black;
    font-size: 30px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 25px;
}
#logo_image{
	float: left;
}
li {
    float: right;
    padding-left: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}