body{
	background-color: lightgray;
}
#login_box{
	border: 2px solid gray;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 15px;
	background-color: white;
	padding: 50px;
	height: 30%;
	width: 30%;
	position: absolute;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
}
#login_email{
	width: 100%;
	line-height: 2.5;
	border-radius: 10px;
	border: none;
	background-color: #aaa5;
}
#login_password{
	width: 100%;
	line-height: 2.5;
	border: none;
	border-radius: 10px;
	background-color: #aaa5;
}
#login_button{
	margin-top: 20px;
	margin-right: 20px;
	border: none;
	border-radius: 5px;
	padding: 15px 30px;
}
#label_email{
	color: #444444;
}
#label_password{
	color: #444444;
}