body{
	background-color: lightgray;
	margin: 0px;
}
#product_header{
	text-align: center;
}
#product_list{
	border: 3px solid blue;
}
#product_list{
	padding: 12px;
	border: 3px solid blue;
}
#product_list a{
	margin-left: 100px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 25px;
}
#logo_image{
	float: left;
}
li {
    float: right;
    padding-left: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}