body{
    background-image: url(../image/products.jpg);
	margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 25px;
}
#logo_image{
	float: left;
}
li {
    float: right;
    padding-left: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.products_box{
    border: 5px solid blue;
    margin-left: 100px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: blue;
    width: 20%;   
}
#top_product_box{
    margin-top: 100px;
}